.feed{
    flex:0.46;
    border-right: 1px solid var(--twitter-background);
    /*min-width: fit-content;*/
    overflow: scroll;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed__header{
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
    border:1px solid var(--twitter-background);
    padding: 15px 20px;
}

.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
}